<!DOCTYPE html>
<html>
<head>
  <title>HW4 - Understand RESTful Routing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<ul>
		<li>
			<%= link_to 'Home Page', home_path %>
		</li>
		<li>
			<%= link_to 'Users Portal', users_path %>
		</li>
		<li>
			<%= link_to 'Posts', posts_path %>
		</li>
	</ul>



<%= yield %>

	<ol>
		<li>
			Understand RESTful routing and how to create the routing necessary for an arbitrary resource in Rails Assignment
		</li>
		<li>
			<del>
				Make a new Rails app from the ground up. Create a User model and a Post model.  Associate the models so that one User can have many Posts.
			</del>
		</li>
		<li> 
			Create a RESTful routing scheme that allows the display of a user at /users/:id, a list of all the users at /users, and the ability to delete a user by sending a DELETE request to / users/:id. 
		</li>
		<li>
			Create a nested resource for posts (see <a target="_blank" href="http://guides.rubyonrails.org/routing.html#nested-resources">the documentation</a>) that allows you to see all of a user’s posts at /users/:id/posts
		</li>	
	</ol>

</body>
</html>
